<h2>Login or create a new survey</h2>

<mat-card class="my-4">
  <mat-card-header class="mb-2">
    <mat-card-title>Group creation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="d-flex flex-column justify-content-between">
      <mat-form-field>
        <mat-label>New Group name</mat-label>
        <input matInput [formControl]="newGroupName" placeholder="New Group name" />
      </mat-form-field>
      <button class="mt-2" color="primary" mat-flat-button>Create</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="my-4">
  <mat-card-header class="mb-2">
    <mat-card-title>Login to existing Group</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" class="d-flex flex-column justify-content-between">
      <mat-form-field>
        <mat-label>Group name</mat-label>
        <input matInput formControlName="groupName" placeholder="Group name" />
        <mat-error> </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passkey</mat-label>
        <input matInput formControlName="passKey" placeholder="Passkey" />
      </mat-form-field>

      <button class="mt-2" color="primary" mat-flat-button>Login</button>
    </form>
  </mat-card-content>
</mat-card>
